{% extends 'baseforapp.html' %}
{% load staticfiles %}
{% block title%} Labour {% endblock %}
 {% block style %}
.footer {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2.5rem;style="margin-top:95px"
        background-color: #efefef;
}
{% endblock %}

{% block content %}
<div class="container-fluid" style="margin-top:70px">
{% if user.is_authenticated %}
{% for contactno,pin,name,region,skill,gender,address,city,state in lab %}
<div class="container mb-4"> 
        <div class="row ">
                <div class="col-3"></div>
                <div class="card border-primary text-secondary col-6" style="width:500px">
                        <div class="card-body" style>
                                <div class="row">
                                        <div class="col-9">
                                                <strong class="card-title">{{name}}</strong>

                                        </div>
                                        <div class="col-3">
                                                <strong >{{contactno}}</strong>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-12">
                                                <p class="card-text">Skills: {{skill}}</p>
                                                <p class="card-text">Location: {{region}}</p>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>
{% endfor %}
{% else %}
{% for contactno,pin,name,region,skill,gender,address,city,state in lab %}
<div class="container mb-4">
        <div class="row ">
                <div class="col-3"></div>
                <div class="card border-primary text-secondary col-6" style="width:500px">
                        <div class="card-body" style>
                                <div class="row">
                                        <div class="col-7">
                                                <strong class="card-title">{{name}}</strong>

                                        </div>
					<div class="col-2"></div>
					<div class="col-3">
						<a href="{% url 'login' %}" class="btn btn-primary" role="button"><i class="fa fa-phone fa-flip-horizontal"></i>  Contact</a>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-12">
                                                <p class="card-text">Skills: {{skill}}</p>
                                                <p class="card-text">Location: {{region}}</p>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>
{% endfor %}
{% endif %}
</div>
{% endblock%}

