{% extends 'baseforapp.html' %}
{% block style %}
.footer {
position: fixed;
right: 0;
bottom: 0;
left: 0;
width: 100%;
height: 2.5rem;style="margin-top:95px"
background-color: #efefef;
}
{% endblock %}
{% block searchbar %}{% endblock %}
{% block content %}
<div class="container" style="margin-top:130px">
	<div class="row justify-content-center">
		<div class="col-lg-4 col-md-6 col-sm-8">
			<div class="card">
				<div class="card-body">
					{% if validlink %}
					<h3 class="card-title">Change password</h3>
					<form method="post" novalidate>
						{% csrf_token %}
						{% include 'includes/form.html' %}
						<button type="submit" class="btn btn-success btn-block">Change password</button>
					</form>
					{% else %}
					<h3 class="card-title">Reset your password</h3>
					<div class="alert alert-danger" role="alert">
						It looks like you clicked on an invalid password reset link. Please try again.
					</div>
					<a href="{% url 'password_reset' %}" class="btn btn-primary btn-block">Request a new password reset link</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
